body {
    background-color: #1a1f36;
    

}

.header {
    width: 90%;
    margin: auto;
    height: 90px;
    background-image: url(images/tenor.gif);
    border-radius: 20px;
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: papyrus;
    font-weight: 1000;
    font-size: 24px;
    color: #ffffff;
}

.p {
    position: absolute;
    margin-left:5%;
    margin-top:3% ;
    font-family: papyrus;
    font-weight: 1000;
    font-size: 24px;
    color: #ffffff;
}
.options{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    background-color: aliceblue;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(227, 219, 226, 0.5);
    padding-top:50px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options:hover{

    box-shadow: 5px 5px 5px 10px rgba(238, 25, 210, 0.5);
}

.options td:hover{
transform: scale(1.2);
}
#icons{
    margin-top: 80vh;
    margin-left: 60vh;
    font-family: papyrus;
    color: #ffffff;
    font-size: 24px;
}
#icon :hover{
    transform: scale(1.4);
}
#link{
   text-decoration:none ;
  font-size: 20px;
}
#link:hover{
    color: rgb(230, 39, 182);
}

#lecture12,
#dogbile
,#tetris{
    margin-top: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

form input:hover{
transform: scale(1.05);
box-shadow:  5px 2px 5px 2px rgba(238, 25, 210, 0.5);
}